.header {
  background-color: var(--header-background);
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.header .conteiner {
  display: flex;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero {
  background-color: var(--hero-background-color);
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.client {
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.client .conteiner {
  text-align: center;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client-list__item {
  width: calc(50% - 30px);
  margin-left: 30px;
  height: 92px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .client-list__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    width: calc(16.6666666667% - 30px);
  }
}

.client-list__icon {
  fill: currentColor;
}

.qualities {
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .qualities {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .qualities-list {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .qualities-list {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.qualities-box {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .qualities-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .qualities-box {
    width: 270px;
  }
}

.qualities-list__items {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .qualities-list__items {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .qualities-list__items {
    width: 270px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .qualities-list__items:not(:last-child) {
    margin-right: 30px;
  }
}
.what-we-do {
  padding-top: 47px;
  padding-bottom: 94px;
  margin: 0 auto;
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
  }
}

.what-we-do-list {
  display: flex;
  margin-left: -30px;
}

.what-we-do-list__item {
  margin-left: 30px;
  position: relative;
}

.what-we-do-box {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.team {
  background-color: #f5f4fa;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.workers-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .workers-list {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.workers-list__item {
  background-color: var(--team-item-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  width: 100%;
}
.workers-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .workers-list__item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .workers-list__item {
    width: calc(25% - 30px);
    margin-left: 30px;
  }
}

.workers-list__img {
  margin-bottom: 30px;
  width: 100%;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer .conteiner {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .conteiner {
    align-items: baseline;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

:root {
  --header-background: #fff;
  --navigation-color: #212121;
  --navigation-color-hover: #2196f3;
  --header-contacts-color: #757575;
  --hero-title-color: #fff;
  --hero-background-color: #2f303a;
  --hero-button-text-color: #fff;
  --hero-button-color: #2196f3;
  --hero-button-hover-bg-color: #188ce8;
  --title-h2-h3-color: #212121;
  --text-color: #757575;
  --team-item-bg-color: #fff;
  --button-hover-color-text: #fff;
  --button-hover-color-background: #2196f3;
  --button-portfolio-color-text: #212121;
  --button-portfolio-background-color: #f5f4fa;
  --footer-addres: #fff;
  --footer-contacts: #ffffff99;
  --logo-color: #2196f3;
  --logo-color-header: #000;
  --logo-color-footer: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  font-family: "Roboto", "Times New Roman", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--logo-color);
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.logo__dark {
  color: var(--logo-color-header);
}

.logo-light {
  color: var(--logo-color-footer);
  margin-bottom: 20px;
}

.contacts {
  display: none;
  margin-left: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: baseline;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-mail {
  padding-top: 21px;
}

.header-tel {
  padding-bottom: 21px;
}

.contacts__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: var(--navigation-color);
  letter-spacing: 0.02em;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  color: var(--header-contacts-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--navigation-color-hover);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu-list {
  display: flex;
}

.menu-list__item {
  margin-right: 50px;
}
.menu-list__item:last-child {
  margin-right: 0;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.menu-list__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--navigation-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--navigation-color-hover);
}
.menu-list__link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover:after {
  transform: scale(1);
  background-color: #2196f3;
}

.menu-list__link.current {
  color: #2196f3;
  position: relative;
}
.menu-list__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transform: scale(1);
}

.hero__btn {
  font-family: "Roboto", sans-serif;
  color: var(--hero-button-text-color);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--hero-button-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hero-button-hover-bg-color);
  outline: none;
}

.hero__title {
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.qualities-list__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .qualities-list__title {
    text-align: left;
  }
}

.what-we-do__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.team__title {
  font-size: 28px;
  font-weight: 700;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.03em;
  line-height: 1.27;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.qualities-list__text {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-box__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

.workers-list__name {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin-bottom: 10px;
}

.workers-list__text {
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin-bottom: 16px;
}

.workers-social-list__item {
  width: 44px;
  height: 44px;
}
.workers-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.workers-social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-social-list__link:hover, .workers-social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.workers-social-list__icon {
  fill: currentColor;
}

.workers-social-list {
  display: flex;
  justify-content: center;
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-bottom: 0;
    display: block;
  }
}

.social-footer__text {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-footer-list__item {
  width: 44px;
  height: 44px;
}
.social-footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-list {
  display: flex;
  justify-content: center;
}

.social-footer-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1019607843);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-list__link:hover, .social-footer-list__link:focus {
  background-color: #2196f3;
}

.social-footer-list__icon {
  fill: currentColor;
}

.info-footer-list__item:first-child .info-footer-list__link {
  display: inline-block;
  font-size: 14px;
  color: var(--footer-addres);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.info-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .info-footer {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .info-footer {
    text-align: left;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.info-footer-list__link {
  font-size: 14px;
  color: var(--footer-contacts);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-footer-list__link:hover, .info-footer-list__link:focus {
  color: #2196f3;
}

.info-footer-list__item {
  margin-bottom: 9px;
}
.info-footer-list__item:last-child {
  margin-bottom: 0;
}

.subscribe {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    text-align: left;
    margin-left: auto;
    width: auto;
  }
}

.subscribe__text {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    flex-direction: row;
    align-items: baseline;
  }
}

.subscribe-input__email {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-input__email {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-input__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input__email::placeholder:focus, .subscribe-input__email::placeholder:hover {
  border-color: #2196f3;
  outline: none;
}

.subscribe-input__btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input__btn:hover, .subscribe-input__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input__icon {
  fill: #fff;
  margin-left: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
  }
}

.btn-list__item {
  margin-right: 8px;
}
.btn-list__item:last-child {
  margin-right: 0;
}
.btn-list__item:not(:nth-child(n+4)) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .btn-list__item {
    margin-bottom: 0;
  }
}

.btn-list__button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--button-portfolio-color-text);
  background-color: var(--button-portfolio-background-color);
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1.63;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__button:hover, .btn-list__button:focus {
  color: var(--button-hover-color-text);
  background-color: var(--button-hover-color-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.btn-list__button.all {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--button-hover-color-text);
  background-color: var(--button-hover-color-background);
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1.63;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .card-list {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.card-list__item {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.card-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-list__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    width: calc(33.3333333333% - 30px);
  }
}

.card-list__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.card-list__link:hover, .card-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-list__link:hover .overlay__text, .card-list__link:focus .overlay__text {
  transform: translate(0);
}

.card-list__img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  display: block;
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.8980392157);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card-list-content__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.06em;
  line-height: 2;
  margin-bottom: 4px;
}

.card-list-content__text {
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 0.03em;
  line-height: 1.87;
}

@media screen and (min-width: 768px) {
  .neworlean {
    font-size: 17.34px;
  }
}
@media screen and (min-width: 1200px) {
  .neworlean {
    font-size: 18px;
  }
}

.modal {
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transition: transform 3000ms;
  transform: rotate(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.backdrop.is-hidden .modal {
  transform: rotate(-720deg) translateX(1000px);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__close:hover .modal__icon-close, .modal__close:focus .modal__icon-close {
  fill: #2196f3;
}

.modal__icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-box__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal-box__input {
    width: 448px;
  }
}
.modal-box__input:focus, .modal-box__input:hover {
  border-color: #2196f3;
  outline: none;
}
.modal-box__input:focus + .modal-box__icon, .modal-box__input:focus + .modal-box__icon, .modal-box__input:hover + .modal-box__icon, .modal-box__input:hover + .modal-box__icon {
  fill: #2196f3;
}

.modal-form__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-box__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__coment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
.modal-form__coment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal-form__coment:placeholder-shown {
  color: #2196f3;
}
.modal-form__coment:focus, .modal-form__coment:hover {
  border-color: #2196f3;
  outline: none;
}

.modal-form__police {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .modal-form__police {
    flex-direction: row;
  }
}

.modal-form__police-link {
  color: #2196f3;
}

.modal-form__police::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-form__police::before {
  border: none;
  background-color: #188ce8;
  background-image: url(../image/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 2px;
}

.modal-form__checkbox:hover + .modal-form__police::before,
.modal-form__checkbox:focus + .modal-form__police::before {
  border-color: #188ce8;
}

.modal-form__btn {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover,
.modal-form__btn:focus {
  background-color: #188ce8;
}

.menu-mob {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transform: translateX(0);
  transition: transform 3000ms, opacity 3000ms, visibility 3000ms;
}
@media screen and (min-width: 768px) {
  .menu-mob {
    display: none;
  }
}

.menu-mob.is-hidden-mob {
  transform: translateX(100%);
  transition: transform 3000ms, opacity 3000ms, visibility 3000ms;
}

.menu-mob__open {
  margin-left: auto;
  outline: none;
  border: none;
  background-color: transparent;
}
.menu-mob__open:hover .menu-mob__open-icon, .menu-mob__open:focus .menu-mob__open-icon {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-mob__open {
    display: none;
  }
}

.menu-mob__open-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob__close {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 40px;
  top: 10px;
  right: 15px;
  outline: none;
}
.menu-mob__close:hover .menu-mob__close-icon, .menu-mob__close:focus .menu-mob__close-icon {
  fill: #2196f3;
}

.menu-mob__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: #2196f3;
}

.mob-menu-list {
  margin-bottom: 40px;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__link {
  text-decoration: none;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts__link:hover, .mob-contacts__link:focus {
  color: #2196f3;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-menu-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 2.76;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-social-list {
  display: flex;
  justify-content: center;
}

.mob-menu-social-list__item:not(:last-child)::after {
  content: "";
  display: block;
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.mob-menu-social-list__item {
  display: flex;
  align-items: center;
}

.mob-contacts {
  margin-bottom: 64px;
}

.cm {
  display: flex;
  flex-direction: column;
}

.current-mob {
  color: #2196f3;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden-mob {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */