.hero {
  background-color: var(--hero-background-color);
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/hero-bg-tablet.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/hero.png);
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
  }
  //width: 480px;
  // margin: 0 auto;
}
