.hero__title {
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.qualities-list__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.what-we-do__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.team__title {
  font-size: 28px;
  font-weight: 700;
  color: var(--title-h2-h3-color);
  letter-spacing: 0.03em;
  line-height: 1.27;

  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
  }
}
