:root {
  --header-background: #fff;
  --navigation-color: #212121;
  --navigation-color-hover: #2196f3;
  --header-contacts-color: #757575;
  --hero-title-color: #fff;
  --hero-background-color: #2f303a;
  --hero-button-text-color: #fff;
  --hero-button-color: #2196f3;
  --hero-button-hover-bg-color: #188ce8;
  --title-h2-h3-color: #212121;
  --text-color: #757575;
  --team-item-bg-color: #fff;
  --button-hover-color-text: #fff;
  --button-hover-color-background: #2196f3;
  --button-portfolio-color-text: #212121;
  --button-portfolio-background-color: #f5f4fa;
  --footer-addres: #fff;
  --footer-contacts: #ffffff99;
  --logo-color: #2196f3;
  --logo-color-header: #000;
  --logo-color-footer: #fff;
}
